* {
    background-color: black;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;

}

@media (min-width: 1200px) {
    .my-nav-1 {
        background-color: black;
    }

    .my-container-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .pizza-restaurant {
        color: white;
        font-family: Ruda, Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 20px;
        ;
        margin-left: 25px;
    }

    .nav-link {
        font-weight: 400;
        font-family: Ruda, Arial, Helvetica, sans-serif;
    }

    .my-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
        transform: scale(1.2);
    }

    .insta {
        margin-right: 15px;
    }

    .fb {
        margin-left: 15px;
    }

    .whatsapp {
        margin-left: 30px;
    }

    .my-header {
        width: 100%;
        background-color: black;
    }

    .pizza-head {
        width: 100%;
        position: relative;
        opacity: 0.7;
        background-color: black;
    }

    .head-h1 {
        color: white;

        font-family: Quattrocento;

        margin-left: 100px;
        background-color: transparent;
        white-space: pre;
        letter-spacing: 5px;
        font-size: 6vw;
    }

    .head-p {
        color: white;

        background-color: transparent;
        white-space: pre;
        font-family: Ruda;
        letter-spacing: 3px;
        font-weight: 100;
        font-size: 2.5vw;

        margin-left: 100px;
    }

    .line-1 {

        background-color: transparent;
        margin-left: 90px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .top-text {
        position: absolute;
        top: 9vw;
        background-color: transparent;
        width: 100%;
    }

    .about-us-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .para-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: 100;
        margin-right: 70px;

    }

    .about-us-head {
        text-align: center;
        padding-top: 60px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .line-3 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        padding-bottom: 60px;
    }

    .menu-head {
        text-align: center;
        padding-top: 120px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .line-4 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
    }

    .line-5 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        margin-bottom: 60px;
    }

    .menu-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 30px;
        letter-spacing: 3px;
        font-weight: 100;
    }

    .item-list {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .list-1 {
        display: flex;

        justify-content: space-between;


    }

    .list-2 {
        display: flex;
        margin-left: 55px;
        justify-content: space-between;
    }

    .item-img {
        width: 273.08px;
        height: 200px;
    }

    .list-text {
        margin-left: 10px;

    }

    .list-text>h4 {
        color: #F2C94C;
        font-family: Ruda;
        letter-spacing: 3px;
        font-weight: 400;
    }

    .list-text>p {
        color: white;
        font-family: Ruda;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 20px;
    }

    .menu-items {
        margin-top: 110px;
    }

    .carousel .item {
        height: 638px;
    }

    .item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
    }

    .my-crousel {
        padding-inline: 130px;
    }

    .find-us-head {
        text-align: center;
        padding-top: 60px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .info-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 100;
    }

    .location {
        display: flex;
        align-items: center;
    }

    .info {
        display: flex;
        justify-content: space-between;

    }

    .call-us {
        display: flex;
        align-items: center;
    }

    .location {
        display: inline-block;
        align-items: center;
    }

    .num-1 {
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .num-2 {
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .location {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .text-2 {
        margin-left: 20px;
    }

    .text-1 {
        margin-bottom: 50px;
    }

    .mail {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .gallary-container {

        
        position: relative;
        
        left: 0px;
        display: grid;
        grid-template-rows: 218px 193px 200px;
        grid-template-columns: 799px 293px 300px;
        justify-content: center;
        margin-inline: auto;
    }

    .gallary-img-1 {
        grid-row: span 3/4;
    }

    .gallary-img-2 {
        width: 275px;
        height: 201px;
    }

    .gallary-img-3 {
        grid-row: span 1/3;
    }

    .gallary-img-4 {
        grid-row: span 2/3;
        height: 300px;
        width: 273px;
        margin-bottom: 0px;
    }

    .gallary-img-5 {
        width: 275px;
        height: 201px;

    }

    .gallary-img-6 {
        height: 300px;
        width: 273px;
        position: relative;
        top: -100px;
    }

}

@media (max-width: 1200px) {
    .my-nav-1 {
        background-color: black;
    }

    .my-container-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .pizza-restaurant {
        color: white;
        font-family: Ruda, Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 20px;
        ;
        margin-left: 25px;
    }

    .nav-link {
        font-weight: 400;
        font-family: Ruda, Arial, Helvetica, sans-serif;
    }

    .my-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
        transform: scale(1.2);
    }

    .insta {
        margin-right: 15px;
    }

    .fb {
        margin-left: 15px;
    }

    .whatsapp {
        margin-left: 30px;
    }

    .my-header {
        display: none;
    }

    .about-us-info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .para-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 25px;
        letter-spacing: 3px;
        font-weight: 100;

        text-align: center;
    }

    .about-us-head {
        text-align: center;
        padding-top: 60px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .line-3 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        padding-bottom: 60px;
    }

    .menu-head {
        text-align: center;
        padding-top: 120px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .line-4 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
    }

    .line-5 {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        margin-bottom: 60px;
    }

    .menu-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 30px;
        letter-spacing: 3px;
        font-weight: 100;
        text-align: center
    }

    .item-list {
        display: flex;
        flex-direction: column-reverse;

        align-items: center;
        justify-content: space-between;
    }

    .list-1 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .list-2 {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

    .item-img {
        width: 273.08px;
        height: 200px;
    }

    .list-text {
        margin-left: 10px;

    }

    .list-text>h4 {
        color: #F2C94C;
        font-family: Ruda;
        letter-spacing: 3px;
        font-weight: 400;
    }

    .list-text>p {
        color: white;
        font-family: Ruda;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 20px;
    }

    .menu-items {
        margin-top: 110px;
    }




    .gallary-container {
        width: 100%;

        white-space: nowrap;
        overflow-x: auto;
    }

    .gallary-container>div {
        display: inline-block;
        overflow-x: auto;
    }

    .gallary-img-1 {
        height: 500px;

    }

    .gallary-img-2 {
        width: 800px;
        height: 500px;
    }

    .gallary-img-3 {
        width: 800px;
        height: 500px;
    }

    .gallary-img-4 {
        width: 800px;
        height: 500px;
    }

    .gallary-img-5 {
        width: 800px;
        height: 500px;

    }

    .gallary-img-6 {
        width: 800px;
        height: 500px;
    }

    .find-us-head {
        text-align: center;
        padding-top: 60px;
        font-family: Quattrocento;
        color: white;
        font-weight: 400;
        font-size: 60px;
    }

    .info-text {
        color: white;
        font-family: Ruda;
        white-space: normal;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 100;
        padding-top: 20px;
    }

    .location {
        display: flex;
        align-items: center;
    }

    .info {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .call-us {
        display: flex;
        align-items: center;
    }

    .location {
        display: inline-block;
        align-items: center;
    }

    .num-1 {
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .num-2 {
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .location {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .text-2 {
        margin-left: 20px;
    }

    .text-1 {
        margin-bottom: 50px;
    }

    .mail {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer-info {

        display: flex;
        justify-content: space-between;

        padding-top: 150px;
        padding-bottom: 50px;
    }
}

@media (max-width: 1020px) {
    .my-nav-1 {
        background-color: black;
    }

    .my-container-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .pizza-restaurant {
        color: white;
        font-family: Ruda, Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 20px;
        ;
        margin-left: 25px;
    }

    .nav-link {
        font-weight: 400;
        font-family: Ruda, Arial, Helvetica, sans-serif;
    }

    .my-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
        transform: scale(1.2);
    }

}